<h2>Code quality</h2>

<p>
  In order to enforce best practices with static code analysis <a href="https://github.com/mgechev/codelyzer">codelyzer</a> can be used in 
  combination with angular cli
</p>
