<h3> Frontend - Backend integration​​​ and contextualisation</h3>

<p>
  Angular CLI provides an out of the box environment management system which allows 
  us to define profiles aggregating context properties, such as the dispatcher URL, 
  the current client, the translation files to be used. <br><br>
  These properties are aggregated as a json, such as  <b>environment.bmw.dev.ts </b> : <br>

</p>
<textarea readonly ngNonBindable codeTextarea height=155>
export const environment = {
  BASE_URL_STATIC: 'http://localhost:3000',
  DISPATCHER_URL: 'http://localhost:3000',
  ASSET_TRANSLATIONS_PATH: './assets/i18n/bmw',
  ASSET_IMAGES_PATH: './assets/img/bmw/',
  ASSET_STYLES_PATH: './assets/styles/bmw',
};
</textarea>

<p>
  Environments are then specified in angular-cli.json :
</p>
<textarea readonly ngNonBindable codeTextarea height=290>
  "environments": {
        "source": "environments/environment.ts",
        "dev": "environments/environment.ts",
        "prod": "environments/environment.prod.ts",
        "test": "environments/environment.test.ts",
        "dev:bmw": "environments/environment.bmw.ts",
        "dev:mini": "environments/environment.mini.ts",
        "prod:bmw": "environments/environment.bmw.prod.ts",
        "prod:mini": "environments/environment.mini.prod.ts",
        "test:bmw": "environments/environment.bmw.test.ts",
        "test:mini": "environments/environment.mini.test.ts",
        "acc:bmw": "environments/environment.bmw.acc.ts",
        "acc:mini": "environments/environment.mini.acc.ts"
      }
 
</textarea>

<p>
For instance, at build time we can specify <b>test:bmw </b>which will prepare a package 
to be deployed in test for bmw with the right pointers towards the dispatcher url, 
images to be employed, labels. <br>
Similarly, acc:bmw will prepare a package to be deployed in acceptance for mini with the 
right pointers towards the dispatcher url, images to be employed, labels. <br> <br>
We can use this quick context switch because our architecture is built on the premise 
that BMW and MINI have identical components and behavior, the only differences being: <br><br>
- dispatcher backend endpoints<br>
- static images<br>
- CSS styles<br>
- translated texts.<br>

Note that these differences correspond to the content specified in the environment files.<br>

In order to facilitate the usage of these environment specific profiles, a number of scripts 
have been created in package.json
</p>

<textarea readonly ngNonBindable codeTextarea height=185>
    "start:prod:bmw": "ng serve --env=prod:bmw --aot",
    "start:prod:mini": "ng serve --env=prod:mini --aot",
    "start:acc:bmw": "ng serve --env=acc:bmw --aot",
    "start:acc:mini": "ng serve --env=acc:mini --aot",
    "build:prod:bmw": "ng build --env=prod:bmw --aot",
    "build:prod:mini": "ng build --env=prod:mini --aot",
    "build:acc:bmw": "ng build --env=acc:bmw --aot",
    "build:acc:mini": "ng build --env=acc:mini --aot",
  </textarea>
 
For instance, running npm run build:prod:bmw​ will prepare the resources to be deployed in 
production for BMW and will also activate the AOT optiomisation. <br>



<h4>Demo</h4>
<p>
Load profile specific assets:
</p>
<img [src]="env.ASSET_IMAGES_PATH + 'logo.png'" />

<!--
<p>
Find below an example of invoking the backend service search person by first name and last name 
 ( http://localhost:9090/api/skeleton/person/search?firstName=andrea&lastName=bauer ):
</p>

<form [formGroup]="personForm"  >
  <div class="form-horizontal">
    <div class="form-group ">
      <label class="control-label col-sm-3">First Name </label>
      <div class="col-sm-9">
        <input type="text" id="name" class="form-control" formControlName="firstName" required >
        <control-messages [control]="personForm.controls.firstName"></control-messages>
      </div>
    </div>

    <div class="form-group ">
      <label class="control-label col-sm-3">Last Name </label>
      <div class="col-sm-9">
        <input type="text" id="name" class="form-control" formControlName="lastName" required >
        <control-messages [control]="personForm.controls.lastName"></control-messages>
      </div>
    </div>

    <button  type="button" class="btn btn-default" (click)="invokeBackend()" [disabled]="!personForm.valid">Invoke backend</button>
    {{backendResponse}}
  </div>
  <br>
  <div class="alert alert-danger" role="alert" *ngIf="errors">{{errors}}</div>
</form>
-->
