<div class="container">
  <h2> Widget libraries</h2>
  <p>
    Despite the fact that Angular2 is a new framework, there is a number of UI component librararies already available on the market. 
  </p>
  <p>
    You can find a complete list <a href="https://angular.io/resources/">here </a>
  </p>

  <h3>PrimeNG</h3>
  <p>
  Available as on open source project on Github, it is the most complete library available at the moment (70 components)<br>
  Like PrimeFaces, PrimeNG is a commercial library. In this particular case, this means you can get the library itself for free, 
  but you can order a support plan. There’s a PrimeNG PRO with commercial support and premium templates like Ultima NG. <br>
  It provides a number of themes which can easily change the look and feel.<br>
  It can be accessed here <a href="http://www.primefaces.org/primeng/#/">here</a>.
  </p>

  <img src="./assets/img/primeng.png" style="width:700px;">

  <h3>ng2-bootstrap</h3>
  <p>
    ng2-bootstrap is a component library that combines the grid system and the theming of Bootstrap with Angular2. <br>
    At the moment it supports 15 components and both Bootstrap 3 and Bootstrap 4. <br>
    It can be accessed here <a href="https://valor-software.com/ng2-bootstrap/#/">here</a>.
  </p>

  <h3>Angular Material 2</h3>
  <p>
    The goal of the Angular Material project is to build a set of reusable Angular components that implement Google's Material Design specification.<br>
    It can be accessed here <a href="https://material.angular.io/components">here</a> or <a href="https://github.com/angular/material2"> on github</a>
  </p>


  <h3>CSS libraries</h3>
    A number of CSS libraries providing out of the box themes has been investigated in order to facilitate design: 
    <a href="http://getbootstrap.com/">Bootstrap</a> , <a href="https://bootswatch.com/">Bootswatch</a>. <br>
    These libraries can be used in combination with the chosen component library.

  <h2>Custom Allianz component library</h2>
  <p>
    Angular2 is an easy to learn framework which facilitates the development of custom components. 
  </p>
  <p>
    If none of the existing widget libraries corresponds to the business scenarios to be implemented either functionally and/or graphically, 
    the following approches can be considered:
  </p>
  <h3>Develop a full Allianz component library</h3>
  <p>
    This approach consists in reimplementing all basic building blocks of web applications with a custom look and feel. <br>
    It is an expensive approach and it may intorduce secondary project delays.<br>
    On the other hand, it is a long term strategy, as most of the added value will be justified 
    by the reuse of this library in future projects. <br>
    Therefore this option is advisable in the context of having a clear and stable direction for future Allianz projects, 
    chosen after an in depth analysis of Angular2 advantages and limitations in relation to implmentation scenarios.
  </p>
  <h3>Adapt existing UI component library to Allianz </h3>    
  <p>
    This approach consists of choosing the closest widget library to the project needs -from both a functional and a look-and-feel 
    point of view - and adapt it when/if necessary. <br>
    All components which can be used out of the box will speed up development time and the potential aspects to be adapted are less
    expensive than a full out of the box implementation as long as the library chosen is easily extendable.
  </p>
  <h3>Conclusion</h3>
  <p>
    A component library approach is still to be defined and a pragmatic choice should be based on the following criteria:
  </p>
    <ul>
      <li>
    project requirements ( What are the scenarios to be implemented in terms of UI blocks ? What is the design/look and feel expected?)
      </li>
      <li>
    library extensibility (How easy is it to extend existing functionality/ modify the look and feel)
      </li>
      <li>
    Allianz's global development strategy for the future (How much code reuse is expected?)
      </li>
      <li>
    choice of platform (Responsive design on desktop/tablet/mobile?)
      </li>
      <li>
    budget (commercial/open source library)
      </li>
      <li>
    available development resources and their expertise
      </li>
      <li>
    timeframe (projet deadlines)
      </li>
    </ul>

</div>

