<h2>Error handling</h2>
The following error handling strategy will be implemented:
<ul>
  <li>
    The UI has to perform all necessary validation checks (synchronously/asynchronously) on field/global level before allowing for form submit.
  </li>
  <li>
    The same validation and extra checks have to be performed on the backend, but they will only produce a global form error message.
  </li>
  <li>
    Error messages sent from the backend will have a combination of HTTP Status end error message DTO payload (to be defined). 
  </li>
  <li>
    Error message payload will contain an error code (translatable placeholder), extra parameters (for messages with parameters) and
    other context properties to be defined.
  </li>
</ul>