<h2>Google analytics</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Custom actions</h3>
  </div>
  <div class="panel-body">


<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success" (click)="analytics(1)">Action 1</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info" (click)="analytics(2)">Action 2</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning" (click)="analytics(3)">Action 3</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger" (click)="analytics(4)">Action 4</button>

  </div>
</div>


<img src="./assets/img/analytics.png" style="width:700px;">