<h3> Angular 2 overview</h3>
<p>
  Angular 2 is the next version of Google’s massively popular MV* framework 
  for building complex applications in the browser (and beyond). <br> <br>
  Angular 2 is not a version upgrade from Angular 1, but a complete rewrite. <br> 
</p>


<p>
Angular 2 recommends the use of Microsoft's <b>TypeScript</b> language ( superset of EcmaScript 6), which introduces the following features:<br>
- Class-based Object Oriented Programming<br>
- Static Typing<br>
- Generics<br>
- Lambdas<br>
</p>

<p>
  Angular2 has <b>Reactive programming</b> support using RxJS.
</p>

<br><br>
<h4>Component Based</h4>
<p>
Common design elements are broken down into reusable components with well defined interfaces. 
</p>

<img src="./assets/img/components.png" style="width:350px;">
<br><br>
<p>
Components are linked to a HTML template which can make use of directives. <br>
Application logic should reside in services, which are injected into components.
</p>

<img src="./assets/img/angular_arch.jpg" style="width:350px;">

<br><br>
<h4>Modules</h4>

<p>
Components, directives, services are agregated into modules. 
</p>
<img src="./assets/img/library-module.png" style="width:350px;">

<br><br>
<p>
Module based architecture allows for parts of the application to be scoped as singleton or shared, 
lazy loading, clean aggregation of components based on business domain.
</p>
<br><br>

<img src="./assets/img/modules.jpg" style="width:550px;">

<br><br>
<h4>Responsive design</h4>
<p>
Most component libraries are responsive on both desktop and mobile. <br>
There are frameworks such as <b>Native Script </b>  based on angular2 for the creation of native android/ios applications.
</p>

<h4>Angular CLI</h4>

<p>
Command line tool which allows for the generation of new projects and all project building blocks in a consistent way.
</p>

<table class="table table-bordered">
<thead>
<tr>
<th>Scaffold</th>
<th>Usage</th>
</tr>
</thead><tbody>
<tr>
<td>Component</td>
<td><code>ng g component my-new-component</code></td>
</tr>
<tr>
<td>Directive</td>
<td><code>ng g directive my-new-directive</code></td>
</tr>
<tr>
<td>Pipe</td>
<td><code>ng g pipe my-new-pipe</code></td>
</tr>
<tr>
<td>Service</td>
<td><code>ng g service my-new-service</code></td>
</tr>
<tr>
<td>Class</td>
<td><code>ng g class my-new-class</code></td>
</tr>
<tr>
<td>Interface</td>
<td><code>ng g interface my-new-interface</code></td>
</tr>
<tr>
<td>Enum</td>
<td><code>ng g enum my-new-enum</code></td>
</tr>
<tr>
<td>Module</td>
<td><code>ng g module my-module</code></td>
</tr>
</tbody></table>