<h3>Redux</h3>

<img src="./assets/img/redux.png" style="width:700px;">
<p>
  In the diagram below, SomeComponent is any client of Redux. 
  It can be an Angular service. <br>
  To Redux, it doesn’t matter how the action object is created. 
  Actually Redux also doesn’t care how action object looks like, 
  it just simply passes it through middleware and reducers (which supplied by client application). <br>
  Listener 1 and listener 2 are also any client code (.e.g. a React component) that want to listen 
  to changes of Redux store state. <br>
  These listeners are registered by calling subscribe() in Redux store.
</p>
<br>

<img src="./assets/img/redux-seq.png" style="width:1000px;">

