<h2>NG2 Translate</h2>
Translation will be handled by <a href="https://github.com/ocombe/ng2-translate">ng2-translate</a> library.

<h3>ng2-translate overview</h3>
<p>
ng2-translate maps translation placeholders with translated labels defined in internationalisation files. <br>
Translation files are located in app/i18n. <br>
For instance, en.json has the following content : <br>
</p>

<textarea readonly ngNonBindable codeTextarea height=120>
{
	"errorMessage.Required":"Required",
	"errorMessage.MaxLength":"Message exceeded max length of {{value}}",
	"menu.helloWorld": "Message with parameter: {{value}}"
}
</textarea>

<br>
 These labels can be used as :
<textarea readonly ngNonBindable codeTextarea height=40>{{ 'errorMessage.Required' | translate }}</textarea>
<p>
 which retrieves for current language: {{ 'errorMessage.Required' | translate }}
</p>
<p>
Parameters can be passed as:
</p>
<textarea readonly ngNonBindable codeTextarea height=40>
  <div translate [translateParams]="{value: 'world'}">menu.helloWorld</div>
</textarea>
or
<textarea readonly ngNonBindable codeTextarea height=40>
  <div [translate]="'menu.helloWorld'" [translateParams]="{value: 'world'}"></div>
</textarea>

<p>
  Translated texts can be used in Angular components by injecting TranslateService and invoking it like :
</p>

<textarea readonly ngNonBindable codeTextarea height=40>
  this.translateService.get('menu.entry1')['value']
</textarea>

<h3>Custom translation loader</h3>
For a different implementation for accessing translation properties, a custom translations loader can be defined and used like :
<a href='https://github.com/ocombe/ng2-translate#write--use-your-own-loader'> https://github.com/ocombe/ng2-translate#write--use-your-own-loader</a>

<h2>Additional development tools</h2>

<h3>Identify hardcoded texts in html files</h3>
The web application to be delivered has to be fully internationalised. <br>
Therefore, we want to make sure that html pages don't contain instances of hardcoded texts before the app is being deployed. <br>
The following npm library <a href="https://github.com/jwarby/i18n-lint">i18n-lint</a> can be used in order to scan for hardcoded texts. 
It fails if at least one harcoded instance has been identified.<br>
It can be invoked either directly in the command line or as an npm script :

<textarea readonly ngNonBindable codeTextarea height=85>
  i18n-lint -t {{,}} src/app/**/*.html
  or
  npm run harcodedTexts
</textarea>

<h3>Synchronise view label placeholders with translations files</h3>
It is important make sure that translation placeholders used in views have been defined in <i>all</i> translation files and have proper labels. <br>
In order to facilitate this task an npm module has been developed
<a href="https://www.npmjs.com/package/@ciortanmadalina/angular2-translations-synchroniser">
https://www.npmjs.com/package/@ciortanmadalina/angular2-translations-synchroniser</a>.

This plugin will be used during development time in order to synchronise the current translations folder with all the placeholders defined in html files. <br>


The script performs following steps:<br>
- It parses all html files found in input directory, specified by --dir parameter and it extracts all translation placeholders<br>
- For each translation file found in --translationFolder, it adds all missing placeholders with a default value of "$$$$" + label name. <br>
This value can be configured as --missingLabel parameter <br>
All translation json files are being analysed and if a missing label has been defined in one language, all other languages will have default value "$$$$" + existing value <br>
<br>
To be developed: make English preferred language for labels lookup.
This task can be run as :
<textarea readonly ngNonBindable codeTextarea height=85>
  synchroniseTranslations --dir ./src --translationFolder ./src/app/i18n
  or
  npm run synchroniseTranslations
</textarea>

<h3>Export json translation files to excel</h3>
A recurrent scenario is updating existing labels with new values provided by business. <br><br>
A custom npm library has been developed which exports all json content to a centralised excel file.

<textarea readonly ngNonBindable codeTextarea height=40>
  jsonToExcel --jsonInputFolder ./src/i18n --outputExcelFile ./input/labels.xlsx
</textarea>

Thus, en.json, fr.json and nl.json generate : <br><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Key</th>
        <th>en</th>
        <th>fr</th>
        <th>nl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>required</td>
        <td>Mandatory</td>
        <td>Obligatoire</td>
        <td>Verplicht</td>
      </tr>
      <tr>
        <td>customCode</td>
        <td>code in EN</td>
        <td>code in FR</td>
        <td>code in NL</td>
      </tr>
     
    </tbody>
  </table>

  <h3>Excel labels to json files</h3>
This is the inverse of the operation described above <br>

<textarea readonly ngNonBindable codeTextarea height=40>
  excelToJson --inputExcelFile ./input/labels.xlsx --outputJsonFolder ./src/i18n
</textarea>

Starting from excel :

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Key</th>
        <th>en</th>
        <th>fr</th>
        <th>nl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>required</td>
        <td>Mandatory</td>
        <td>Obligatoire</td>
        <td>Verplicht</td>
      </tr>
      <tr>
        <td>customCode</td>
        <td>code in EN</td>
        <td>code in FR</td>
        <td>code in NL</td>
      </tr>
     
    </tbody>
  </table>

  <br> we generate en.json: 
<textarea readonly ngNonBindable codeTextarea height=100>
  {
    "required":"Mandatory",
    "customCode":"code in EN"
  }
</textarea>


<h3>Demo</h3>
  
<textarea readonly ngNonBindable codeTextarea height=40>{{ 'errorMessage.Required' | translate }}</textarea>
{{ 'errorMessage.Required' | translate }}