<div >
  <ul class="nav navbar-nav">
    <li><a routerLink="/overview" >Overview</a></li>
    <li><a routerLink="/backend" >Backend integration and contextualisation</a></li>
    <li><a routerLink="/translation">Translation</a></li>
    <li><a routerLink="/features2/validation">Form validation</a></li>
    <li><a routerLink="/features2/widgets">Widgets</a></li>
    <li><a routerLink="/analytics">Google analytics</a></li>
    <li><a routerLink="/cache">Caching and state management</a></li>
    <li><a routerLink="/error-handling">Error handling</a></li>
    <li><a routerLink="/code-quality">Code quality</a></li>
  </ul>
</div>
